.App {
	background-image: url('./wave2.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	/* height: 100%; */
	/* filter: blur(1px); */
	z-index: -999;
}

.title{
	font-size: 3.5rem;
	text-align: center;
	font-weight: 900;
	letter-spacing: 1px;
}
.content {
	z-index: 2;
	position: absolute;
	width: 100%;
	text-align: center;
}
.toolbar{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.item_container{
	margin: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.label{
	font-size: 20px;
	width: 80px;
	margin-right: 20px;
}
.number{
	margin-top: 30px;
	width: 250px;
	height: 250px;
	box-shadow: 0.25rem 0.25rem 0.75rem 0.05rem rgb(39 48 54 );
	border: none;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 70px;
	font-weight: 800;
	margin-left: 50%;
	transform: translateX(-50%);
	margin-bottom: 20px;
}
@media (max-width:500px) {
	.App{
		background-image: none;
	}
	.title{
		font-size: 2rem;
	}
	.number{
		width: 200px;
		height: 200px;
	}
}
