.btn_custom {
	background-color: #eceeef;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
	cursor: pointer;
	font-weight: 400;
	/*transition: 0.4 all;*/
	/* background-size: cover;
	background-repeat: no-repeat;
	background-position: center; */
}
.btn_custom:hover {
	background-color: #a3a9aca9;
}
.btn_custom:focus {
	outline: none;
	box-shadow: 0 0 0 0.25rem #c4e7ff;
	background-color: #0298fe;
	color: #ffff;
	font-weight: 900;
}
.btn_rounded {
	border-radius: 100px;
	padding: 15px;
	width: 65px;
	height: 65px;
	margin-left: 20px;
}
.btn_spin:active {
	animation: xoayvong 400ms linear backwards;
}
@keyframes xoayvong {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg) scale(1.2);
	}
}
