.input_custom {
    background-color: #eceeef;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 400;
    border-radius: 10px;
    font-size: 20px;
    width: 200px;
    height: 30px;
}
.input_custom:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem #c4e7ff;
    font-weight: 900;
    transition: 200ms all ease;
    height: 30px;
    border: 2px solid #0298fe;
}
